<html>
    <head>
        <style>
            html, body {
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
                overflow: hidden;
                background-color: #2B2B2B;
            }
            iframe {
                border: none;
                width: 100%;
                height: calc(100% - 60px);
            }
        </style>
    </head>
    <body>
        <iframe
            src="https://doxy.me/sign-in"
            allow="camera; microphone; display-capture; autoplay; clipboard-write"
            allowfullscreen
        ></iframe>
    </body>
</html>
